[Unit]
Description=PhenoCam capture timer

[Timer]
OnCalendar=*-*-* *:00,30:00 UTC
AccuracySec=10s
Persistent=false

[Install]
WantedBy=timers.target
